* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #262a2f;
}

h1 {
    text-align: center;
    margin: 50px 0px;
    color: #ffffff;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#qrReader {
    width: 500px;
}